<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   key.plist
   ReSports

   Created by 志波大輝 on 2018/12/15.
   Copyright (c) 2018 志波大輝. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>googleMapsApiKey</key>
        <string>AIzaSyBTD26NkIe88pHGGErOYcNVtCpURg-cVCE</string>
    </dict>
</plist>
